@charset "UTF-8";

body {
	font-family:"Helvetica Heu", Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#555;
	opacity: 1;
	background:url("../images/bg1.jpg") #000 top center;
}

p, footer {
	line-height:1.7em;
	text-align:justify;
}

iframe, img {
	width:100%;
}

a {
	color: #325d6b;
}

a, a:hover {
	text-decoration: none;
}

/** Layout **/

#wfar-header {
	margin-top: 10px;
}

#main {
	width:80%;
	margin:0 auto;
}

/** #325D6B **/
#wfar-sidebar {
	margin-top: 10px;
	padding-top: 2em;
	padding-bottom: 2em;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkAQMAAADbzgrbAAAAA1BMVEUAAACnej3aAAAAAXRSTlOArV5bRgAAAAxJREFUCB1jYBieAAAA2AABq1VUCwAAAABJRU5ErkJggg==);
}

#wfar-sidebar a {
	color:#fff;
}

/** Menu **/

.nav {
}

.nav>li>a:hover, .nav>li>a:focus {
	/**background-color: #325d6b;**/
	background-color: #555;
}

.nav-pills>li.parent ul {
	display: none;
	width:100%;
	padding:0;
	margin-top:5px;
	list-style:none;
	border-radius:5px;
}

.nav-pills>li.parent ul>li>a{
	display: block;
	text-align:center;
}

.nav-pills>li.parent:hover ul{
	display:block;
}

.nav-pills>li{
	width: 19.81%;
	min-width: 155px;
}

/** Contact **/

#contact-us h2 {
	padding-bottom:1em;
}

#contact-us h3 {
	font-size: 1.4em;
	font-weight: bold;
}

#contact-us input[type="text"], #contact-us input[type="email"], #contact-us textarea {
	width:90%;
	background:#333;
	color:#fff;
	border:0;
	border-radius:5px;
	padding:.5em;
}

#contact-us textarea {
	height:10em;
}

/** Class helpers **/
.uppercase {
	text-transform:uppercase;
}

.credits {
	float:right;
	color:#888;
}