@charset "UTF-8";

html, body {
	font-family:"Helvetica Heu", Arial, Helvetica, sans-serif;
}

body {
	font-size:13px;
	color:#555;
}

p, footer {
	line-height:1.7em;
	text-align:justify;
}

iframe, img {
	width:100%;
}

a, a:hover {
	text-decoration: none;
}

/** Layout **/

#wfar-header {
	margin-top: 10px;
}

#main {
	width:80%;
	margin:0 auto;
}


#wfar-sidebar {
	margin-top: 10px;
}

/** Menu **/

.nav-pills>li.parent ul {
	display: none;
	width:100%;
	padding:0;
	margin-top:5px;
	list-style:none;
	background:#eee;
	border-radius:5px;
}

.nav-pills>li.parent ul>li>a{
	display: block;
	text-align:center;
}

.nav-pills>li.parent:hover ul{
	display:block;
}

.nav-pills>li{
	width: 19.81%;
	min-width: 155px;
}

/** Contact **/

#contact-us h2 {
	padding-bottom:1em;
}

#contact-us h3 {
	font-size: 1.4em;
	font-weight: bold;
}

#contact-us input[type="text"], #contact-us input[type="email"], #contact-us textarea {
	width:90%;
	background:#333;
	color:#fff;
	border:0;
	border-radius:5px;
	padding:.5em;
}

#contact-us textarea {
	height:10em;
}

/** Class helpers **/
.uppercase {
	text-transform:uppercase;
}

.credits {
	float:right;
	color:#888;
}